global-include *.hpp *.cpp
include riptide/tests/data/*.inf
include riptide/tests/data/*.dat
include riptide/tests/data/*.tim
include riptide/tests/data/*.fits
include LICENSE
prune dist
prune docker
prune docs
prune images